@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Roboto:100,300,400,500,700,900&display=swap');



* {
    margin: 0;
    padding: 0;
    }


img {
    width: 100%; 
    }

body {
    background-color: white; 
    color: #595959;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
}

a { 
    text-decoration: none;
    color: #111111;
    color : inherit; 
}



ul { list-style: none;}

#frame {
    background-color: #FFFFFF;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto; 
}

/*네비게이션바*/

#nav {
    overflow: hidden;
    width: 100%;
    z-index: 9999; 
    position: fixed; /* 네비바 상단 고정*/
    padding-bottom: 1.4em;
    background-color: white;
    
    }


#nav_title {
    float: left;
    padding: 0.74em 0em 0em 6em;
    color: black;
    opacity: 0.93;
    font-weight: 900;

}

#nav_title span {
    font-weight: 400;
    color: #3A3A3A;
}

#ul_con {
    padding-right: 6em;
}

#nav ul li {
    float: right;
    text-align: center;
    padding: 1.5em 1.2em 0em 0em;
    font-size: 1em;
    opacity: 0.96;
    }

#nav ul li:after {   
    content: "ㅣ";
    padding: 1em 1.1em 1em 1.8em;
    font-weight: 500;
    color: darkgrey;
    } 

#nav a.active, #nav a:hover { color: #CB5C3A; } /* 네비바 마우스 호버 */


/*profile 프로필*/

#profile {
    background-color: #EFEFEF;
    padding-bottom: 9.2em;
}

#profile_title {
    padding-top: 204px;;
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    letter-spacing: 23px;
    color: black;
    opacity: 0.999;
    z-index: 10;

    
}

#profile_title_back {
    max-width: 42%;
    max-height: 170px;
    position: absolute;
    top: 10.9em;
    left: 29em;
    opacity: 0.97;

    
}


.profile_img_column{
    margin: 7em 2em 0em 21em;

}

#profile_img {
    width: 30.3%;
    height: 30.3%;
    }

.profile_txt_column{
    display: inline-block;
}


#profile_txt{
    line-height: 52px;
    font-size: 16px;
    float: right;
    margin: 8.7em 21em 0em 0em;
    font-size: 18.5px;
    font-weight: 300;
    
}

#profile_txt span {
    font-weight: 600;
    color: black;
    opacity: 0.7;
    font-size: 20px;
    padding-right: 7px;
    
}

/*family 가족*/

#family{
    padding: 5em;
    padding-top: 9em;
   
}

.family_column {
/*    border: 1px solid red;*/
    width: 10.5%;
    display: inline-block;
    margin: 6em 1.5em 4em 1.5em;


}

#family_img {
    opacity: 0.7;
    
}

#family_text {
    text-align: center;
    padding-top: 1.7em;
    font-size: 16.5px;
    font-weight: 500;
    opacity: 0.88;
}

#family_title {
    font-size: 50px;
    font-weight: 700;
    color: #2D2D2D;
    text-align: center;
}

.family_content {
    padding-left: 20em;
    margin-top: 2em;
}

.dog_txt {
    text-align: center;
    font-weight: 300;
    margin-top: 3em;
}


.dog_btn {
    text-align: center;
    margin: 1.1em 0 2em 0;
    font-weight: 600;
    font-size: 16.5px;   
}

.highlight {
    border-bottom: 2.4px #D86D50 solid;
}


.dog_img {
    display: none;
    width: 66%;
    margin: 0 auto;
}

.dog_btn.active, .dog_btn:hover { color: #D86D50; } 


hr {
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid 1px;
    width: 75%;

}

/*residence 거주지*/

#residence{
    border: 1px red solid;
}


#residence_title {
    font-size: 50px;
    font-weight: 700;
    color: #2D2D2D;
    text-align: center;
    margin-top: 2.6em;
}

#google_map{
    margin: 5em 0 1em 0;
    text-align: center;
}

#map_text {
    text-align: center;
    font-size: 16.5px;
    font-weight: 500;
    opacity: 0.9;
}

#howtogo_title {
    color: #3A3A3A;
    text-align: center;
    margin-top: 4.7em;
    font-size: 28.5px;
    font-weight: 300;
    letter-spacing : -1.4px;
    
}

#howtogo_span {
    font-weight: 800;
    font-size: 33.5px;
    padding-right: 3.5px;
}

#howtogo_underline {
   background-color: #FABC32;
    padding: 1px 3.5px;
}


/*relative 섹션 벗어나는 부분, 이미지 위에 기차 이미지 띄우려고 position을 주니까 벗어남*/

#howtogo_img {
    position: absolute;
    margin-bottom: 80em;
}

#howtogo_road_img{
    position: relative;
    padding-top: 7em;
    width: 51%;
    margin: 0 auto;
    z-index: 5;
}

.howtogo_train_img{
    position: absolute;
    width: 5%;
    bottom: 10px;
    left: 440px;
}

/**/

#howtogo_txt {
    margin-top: 0.6em;
    text-align: center;
}