@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Roboto:100,300,400,500,700,900&display=swap');



* {
    margin: 0;
    padding: 0;
    }


img {
    width: 100%; 
    }

body {
    background-color: white; 
    color: #595959;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
}

a { 
    text-decoration: none;
    color: #111111;
    color : inherit; 
}



ul { list-style: none;}

#frame {
    background-color: #FFFFFF;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto; 
}

/*네비게이션바*/

#nav {
    overflow: hidden;
    width: 100%;
    z-index: 9999; 
    position: fixed; /* 네비바 상단 고정*/
    padding-bottom: 1.4em;
    background-color: white;
    
    }


#nav_title {
    float: left;
    padding: 0.74em 0em 0em 6em;
    color: black;
    opacity: 0.93;
    font-weight: 900;

}

#nav_title span {
    font-weight: 400;
    color: #3A3A3A;
}

#ul_con {
    padding-right: 6em;
}

#nav ul li {
    float: right;
    text-align: center;
    padding: 1.5em 1.2em 0em 0em;
    font-size: 1em;
    opacity: 0.96;
    }

#nav ul li:after {   
    content: "ㅣ";
    padding: 1em 1.1em 1em 1.8em;
    font-weight: 500;
    color: darkgrey;
    } 

#nav a.active, #nav a:hover { color: #CB5C3A; } /* 네비바 마우스 호버 */


/*profile 프로필*/

#profile {
    background-color: #EFEFEF;
    padding-bottom: 9em;
}


#profile_title_wrapper {
    max-width: 725px;
    margin: 0 auto;
    padding-top: 204px;
    margin-bottom: 5em;
}


#profile_title_content{
    height: 183px;
    background: url(img/profile_back3.png) no-repeat;
    background-position: center;
    background-size: cover;
}

#profile_title {
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 23px;
    color: black;
    opacity: 0.999;
    z-index: 10; 
    padding-top: 37px;
}

/*
#profile_title_back {
    max-width: 42%;
    max-height: 170px;
    border: 2px aqua dashed;
    margin: 0 auto;
    position: absolute;
    top: 10.9em;
    left: 29em;
    opacity: 0.97;
*/


    
}


#profile_content_wrapper{
    max-width: 1200px;
    margin: 0 auto;

}


#profile_content {
    margin: 0 auto;
    text-align: center;
}

.profile_column{
    display: inline-block;
    margin: 0 auto;
    margin: 1em 2.4em 3em 2.4em;
    vertical-align: middle;

}



#profile_img {
    width: 30%;

    }


#profile_txt{
    line-height: 52px;
    font-size: 18.5px;
    font-weight: 300;
    text-align: left;

    
}

#profile_txt span {
    font-weight: 600;
    color: black;
    opacity: 0.7;
    font-size: 20px;
    padding-right: 7px;
    
}

/*family 가족*/

#family{
    padding: 5em;
    margin-top: 5.2em;
   
}

.family_column {
/*    border: 1px solid red;*/
    width: 9.5%;
    display: inline-block;
    margin: 4em 1.5em 4em 1.5em;


}

#family_img {
    opacity: 0.65;
    
}

#family_text {
    text-align: center;
    padding-top: 1.7em;
    font-size: 16.5px;
    font-weight: 500;
    opacity: 0.88;
}

#family_title {
    font-size: 50px;
    font-weight: 700;
    color: #2D2D2D;
    text-align: center;
}


.family_content {
    margin: 0 auto;
    text-align: center;
    padding-top: 3.5em;
 
}

.dog_txt {
    text-align: center;
    font-weight: 300;
    margin-top: 3em;
}


.dog_btn {
    text-align: center;
    margin: 1.1em 0 2em 0;
    font-weight: 600;
    font-size: 17px;   
}

.highlight {
    border-bottom: 2.4px #D86D50 solid;
}


.dog_img {
    display: none;
    width: 66%;
    margin: 0 auto;
}

.dog_btn.active, .dog_btn:hover { color: #D86D50; } 


hr {
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid 1px;
    width: 75.5%;

}

/*residence 거주지*/

#residence{
   
}


#residence_title {
    font-size: 50px;
    font-weight: 700;
    color: #2D2D2D;
    text-align: center;
    padding-top: 2.3em;
}

#google_map{
    margin: 5em 0 1em 0;
    text-align: center;
}

#map_text {
    text-align: center;
    font-size: 16.5px;
    font-weight: 500;
    opacity: 0.9;
}

#howtogo_title {
    color: #3A3A3A;
    text-align: center;
    margin-top: 4em;
    font-size: 28.5px;
    font-weight: 300;
    letter-spacing : -1.4px;
    
}

#howtogo_span {
    font-weight: 800;
    font-size: 33.5px;
    padding-right: 3.5px;
}

#howtogo_back {
    background-color: #FABC32;
    padding: 1px 4.3px;
}


#howtogo_img {
    position: relative;
    margin-bottom: 10em;
}

#howtogo_road_img{
    position: relative;
    padding-top: 7em;
    width: 51%;
    margin: 0 auto;
    z-index: 5;
}

.howtogo_train_img{
    position: absolute;
    width: 5%;
    bottom: 10px;
    left: 440px;
}

#howtogo_txt {
    margin-top: 0.6em;
    text-align: center;
}


/*hobby 취미*/

#hobby_title {
    font-size: 50px;
    font-weight: 700;
    color: #2D2D2D;
    text-align: center;
    padding-top: 2.2em;
    margin-bottom: 1.7em;
}

#hobby_content_container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 4em;
    padding-bottom: 2em;
    
}

/*
.hobby_title2 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing : -0.4px;  
}
*/

.hobby_img_container{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.hobby_col {
    max-width: 21.5%;
    display: inline-block;
    margin: 1.1em 0.18em;  
}

.hobby_content_title{
    margin: 10.5px 0;
    font-size: 16.8px;
    text-align: center;
}

.hobby_txt {
    font-weight: 300;
    padding: 8px 62px;
    line-height: 26.7px;
    margin-bottom: 3.8em;
}


/*Contact*/


#contact_container{
    max-width: 980px;
    margin: 0 auto;
    margin-bottom: 9.5em;
}
    
#contact_title {
    font-size: 50px;
    font-weight: 700;
    color: #2D2D2D;
    text-align: center;
    padding-top: 1.8em;
}

#contact_text{
    font-weight: 300;
    text-align: center;
    margin-top: 2.3em;
    margin-bottom: 4.5em;
    line-height: 27px;
}

#contact_span{
    background-color: mistyrose;
    padding: 0 3px;
}

#form_border{
    border: 1.5px solid #C6C6C6;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 45px 0;
    
}

/*
#form_title{
    font-size: 20px;
    font-weight: 700;
    border-bottom: 3px orange solid;
}
*/

.form_content{
    display: inline-block;
    padding: 15px 11px;

}

label{
    font-weight: 600;
    font-size: 16.2px;
    letter-spacing: 0.2px;
}

#submit_btn{
    padding: 6px 8px;
    margin-top: 35px;
}

#submit_btn:hover {
    background-color: darkgrey;
    border-radius: 3px;
}


/*footer*/

footer{
    background-color: #5E5E5E;
    max-width: 100%;
    padding: 3.6em 12em;
    
}

#footer_txt1 {
    color: white;
    opacity: 0.65;
}

#footer_txt2 {
    color: white;
    opacity: 0.65;
    padding-top: 10px;
}


#footer_icon {
    max-width: 26%;
    opacity: 0.6;
    float: right;
}






